.wrapper{
    display:flex;
    flex-direction:row;
    flex:1 0 31%;
    margin:auto;
    width:100%;
    margin-top: 10px;
    padding: 10px;
    margin: 10px;
    background-color: white;
 
}
.imageProfile{
    border-radius: 100px;
 
}
.details{ flex:2 0 0;margin-left:10%;}
.contactName{font-weight:bold;}
.adress{margin-top: 10px;margin-bottom: 10px;}
.pin{margin-right: 5px;}
.company{font-weight:bold;}
.phonePref{text-decoration: underline;margin-right:5px;}
.editZone{flex:2 0 0;position:relative;}
.pencil{position:absolute;right:0;bottom:0}
.trash{position:absolute;right:20px;bottom:0}

@media screen and (min-width: 600px) {
    .wrapper{max-width:30% ;}
  }
@media screen and (max-width: 600px) {
    .wrapper{margin: auto;}
  }